@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .inner {
    /*Put me on every section except for .my-work*/
    @apply mx-auto max-w-[1100px];
  }
  .skills-pattern {
    @apply absolute top-6 right-6;
  }
  .btn {
    @apply rounded-full font-bold w-fit flex justify-center items-center py-2 px-7 font-bold text-sm font-plusjakartasans text-white cursor-pointer duration-200 md:text-base md:py-3.5 md:px-[45px];
  }
  .skills-text {
    @apply absolute bottom-6 left-6 text-white font-bold text-2xl;
  }
  .round-btn {
    @apply flex rounded-full bg-black justify-center items-center text-white w-16 h-16 cursor-pointer duration-200 hover:bg-blue  my-8 mx-8;
  }
  .heading-lg {
    @apply font-bold font-plusjakartasans text-black text-[56px] leading-[70px];
  }
  .heading-m {
    @apply font-bold font-plusjakartasans text-black text-[40px] leading-[51px];
  }
  .heading-s {
    @apply font-bold font-plusjakartasans text-black text-[32px] leading-[40px];
  }
  .body-text {
    @apply font-medium font-plusjakartasans text-gray text-[18px] leading-[28px];
  }
}
/* ______________________________________
Skills Section
*/
.skills-area {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 182px);
  grid-template-areas:
    'skills-item-one skills-item-one'
    'skills-item-one skills-item-one'
    'skills-item-two skills-item-three'
    'skills-item-four skills-item-four'
    'skills-item-five skills-item-five'
    'skills-item-six skills-item-six';
  @apply px-4;
}
@media screen and (min-width: 768px) {
  .skills-area {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 182px);
    grid-template-areas:
      'skills-item-one skills-item-one skills-item-two skills-item-three'
      'skills-item-one skills-item-one skills-item-four skills-item-four'
      'skills-item-five skills-item-five skills-item-five skills-item-five'
      'skills-item-six skills-item-six skills-item-six skills-item-six';
    @apply px-10;
  }
}
@media screen and (min-width: 1100px) {
  .skills-area {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 182px);
    grid-template-areas:
      'skills-item-one skills-item-one skills-item-two skills-item-three skills-item-four skills-item-four'
      'skills-item-one skills-item-one skills-item-five skills-item-five skills-item-six skills-item-six';
  }
}
.skills-area > div {
  @apply rounded-lg;
}
.skills-item-one {
  grid-area: skills-item-one;
  @apply bg-blue;
}
.skills-item-two {
  grid-area: skills-item-two;
  @apply bg-yellow;
}
.skills-item-three {
  grid-area: skills-item-three;
  @apply bg-pink;
}
.skills-item-four {
  grid-area: skills-item-four;
  @apply bg-orange;
}
.skills-item-five {
  grid-area: skills-item-five;
  @apply bg-green;
}
.skills-item-six {
  grid-area: skills-item-six;
  @apply bg-purple;
}
/*
Skills Section
______________________________________*/
